{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "ts-commons.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ts-commons.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "ts-commons.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.networkPolicy.allowIngressFromNamespace }}
      ports:
        - protocol: TCP
          port: {{ .Values.service.targetPort }}
  egress:
    - ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
    - ports:
        - protocol: TCP
          port: 443
{{- end }}
